

.horizontal-property-container  { /* TODO: CHange height and width to 150px in mobile media */
  position: relative; /* Enables absolute positioning of children */
  height: 200px;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px; /* Spacing between each class block */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end; /* align content to the bottom */

  background-color: orange;
  color: white;
}

/* Styling for the container */
.vertical-property-container {
  border-radius: 5px;
  margin: 10px;
  
  background-color: orange;
  color: white;
}


.horizontal-property-list  {
  position: relative;
  width: 100%; /* Take full width to ensure wrapping */
  text-align: left;
  left: 0px;
}
/* Styling for each list item */
.object-list-property {
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between !important; 
  padding:5px;
  padding-right: 50px;
}

/* Styling for the labels / name */
.object-list-property-header {
  font-weight: bold;
  text-align: left !important;
  width: 50% !important; /* Adjust width to account for padding */
}

.horizontal-property-name  {
  font-size: 18px; /* Adjust as needed */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  word-wrap: break-word; /* Break the word if it's too long */
}

/* Styling for the values */
.object-list-property-value {
  font-weight: normal;
  width: 50% !important; /* Adjust width to account for padding */
  text-align: right !important;
}

.horizontal-property-value {
  font-size: 12px; /* Adjust as needed */
  font-family: 'Roboto', sans-serif;
  margin: 0;
  word-wrap: break-word; /* Break the word if it's too long */
}
