.side-menu {
  position: fixed;
  top: 60px; /* Adjust the top value to match the height of your menu bar */
  left: 0;
  width: 200px;
  background-color: #f0f0f0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  height: 100%;
  flex-direction: column; /* Set the direction to vertical */
  align-items: flex-start; /* Align items to the start of the container */
  padding: 20px; /* Adjust this value to change spacing from the edge */
}

.side-menu.open {
  transform: translateX(0);
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Removed top and bottom margin to pin ul to its container */
  display: flex;
  flex-direction: column; /* Set the direction to vertical */
}

.side-menu li {
  margin-bottom: 10px; /* Adjust the margin as needed */
  display: flex;
  align-items: left; /* Align items vertically in each list item */
  width: 100%;
  /* left: 10px !important; */
}

.side-menu li a {
  text-decoration: none;
  color: #333;
  margin-left: 0; /* Remove any margin to the left */
}

/* This will add spacing between the icon and the text */
.side-menu li a > svg {
  margin-right: 10px; 
}
