/* Parent container styles */
.lower-half-container {
  height: 50%; /* Set the height to 50% of the viewport height (lower half of the screen) */
  width: 100%;
  display: flex;
}

/* Child containers (dividing the lower half into thirds) */
.child-container {
  flex: 1; /* Each child container will take 1/3 of the available width */
  padding: 10; /* Add padding to create spacing between child containers */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Button styles */
.button {
  background-color: #3366cc;
  color: #d9d9d9;
  font-family: "Inter-ExtraBold", Helvetica;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  padding: 15px; /* Add "px" unit to the padding value */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  /* Set the width to 50% of the button's container */
  max-width: 70%;
  height: 50%;
  flex:1;
}

