.App {
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Setting Roboto as the default font */
}

.root {
  height: 100%;
}

html {
  height: 100% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.mainTitle {
  height: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.main-content {
  padding-top: 60px;    /* Adjusted for MainMenu */
  padding-left: 250px;  /* Adjusted for SideMenu, change this value if needed */
  width: calc(100% - 250px); /* Subtracting the width occupied by SideMenu */
  height: 100% !important;
  background-color: aquamarine;
}

